html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 100px;
}

.map {
    position: absolute;
    height: 100%;
    width: 100%;
}

#event {
    position: absolute;
    top: 50px;
    right: 600px;
    height: 100px;
    width: 400px;
    z-index: 10000;
}

.btn {
    border-color: gray;
    border-width: 2px;
    background-color: white;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    background: red;
    /* transform: translate(-50%, -50%); */
}
.control {
    position: absolute;
    z-index: 1111;
    top: 0;
    right: 0;
}
.popover {
    background: black;
    color: white;
    font-size: 24px;
}